<div class="span12">
  <div class="row" id="eventwell">


    <% if @events.size == 0 %>
    <div class="span12">
      <% if params[:eventtype]=='striptease' %>
        <div class="label-info" style="padding: 1em;">
          <p style="font-size: 1.5em; margin:0; text-align: center; color: white;">
            For a private session, please contact Dag-Inge Aas.
          </p>
        </div>
      <% else %>
      
        <div class="label-info" style="padding: 1em;">
          <p style="font-size: 1.5em; margin:0; text-align: center; color: white;">We are sorry, but there are at the moment no published <em><%= params[:eventtype] %></em> events.</p>
        </div>
      </div>
      <% end %>
    <% else %>

    <% last_date = 0 %>
    <% @events.each do |date| %>
      <% current_date = date.start_at.strftime("%d").to_i %>
      <% if current_date != last_date %>
        </div>
      <% end %>
      <% if current_date != last_date %>
        <div class="datewrapper row" id="<%= date.start_at.strftime('%d') %>feb">
      <% end %>

      <% if current_date != last_date %>
        <article class="dateblock span2 offset1">
          <span class="date">
            <%= date.start_at.strftime('%d') %> 
          </span>
          <span class="month">
            <%= date.start_at.strftime('%b') %>
          </span>
        </article>
      <% end %>
      <% event = date.event %>
          <a href="/2013/<%= date.id %>">
            <article class="span8 event offset3" style="background:url(<%= event.image_front(:cover) %>); background-size: cover;">
              <h1 class="name"><span><%= event.title %></span></h1>
              <% unless event.event_type.nil? %>
              <div class="meta type<%= event.event_type.id %>">
              <% else %>
              <div class="meta">
              <% end %>
                <div class="location">
                  <p><%= event.event_place.name %></p>
                  <!-- TODO! -->
                  <p><%= date.start_at.strftime('%H:%M') %>
                    <% if date.end_at %>
                      - <%= date.end_at.strftime("%H:%M") %>
                    <% end %>
                  </p>
                </div>
                <table class="price">
                    <tr>
                      <td>Member</td>
                      <td><%= event.price_member %>,-</td>
                    </tr>
                    <tr>
                      <td>Non-member</td>
                      <td><%= event.price_other %>,-</td>
                    </tr>
                  </table>
              </div>
            </article>
          </a>      
      <% last_date = current_date %>
    <% end %>

  </div>

    <div class="datewrapper row" id="allfeb">

      <article class="dateblock span2 offset1">
        <span class="date">
          All 
        </span>
        <span class="month">
          feb
        </span>
      </article>

    <% @festival_events.each do |date| %>

      <% event = date.event %>
          <a href="/2013/<%= date.id %>">
            <article class="span8 event offset3" style="background:url(<%= event.image_front(:cover) %>); background-size: cover;">
              <h1 class="name"><span><%= event.title %></span></h1>
              <div class="meta type<%= event.event_type.id %>">
                <div class="location">
                  <p><%= event.event_place.name %></p>
                  <!-- TODO! -->
                  <p><%= date.start_at.strftime('%H:%M') %>
                    <% if date.end_at %>
                      - <%= date.end_at.strftime("%H:%M") %>
                    <% end %>
                  </p>
                </div>
                <table class="price">
                    <tr>
                      <td>Member</td>
                      <td><%= event.price_member %>,-</td>
                    </tr>
                    <tr>
                      <td>Non-member</td>
                      <td><%= event.price_other %>,-</td>
                    </tr>
                  </table>
              </div>
            </article>
          </a>      
    <% end %>
  </div>
    <% end %>
  </div>
</div>
