<div class="span12">
  <div class="row" id="eventwell">

    <% @events.each do |dates| %>
      <div class="datewrapper row" id="07feb">

          <% if dates.length > 0 %>
        <article class="dateblock span2 offset1">
          <span class="date"><%= dates.first.datetime.strftime('%d') %></span><span class="month">feb</span>
        </article>
          <% end %>

        
        
        <% dates.each do |date| %>

          <% event = date.event %>

          <a href="2013/<%= event.id %>">

            <article class="span8 event offset3" style="background:url(http://i.imgur.com/MVbvb.png)">


              <h1 class="name"><%= event.title %></h1>
          
              <div class="meta">
                <div class="location">
                  <p><%= event.event_place.name %></p>
                  <!-- TODO! -->
                  <p><%= event.event_dates[0].datetime.strftime('%H:%M') %></p>
                </div>
          
                <table class="price">
                    <tr>
                      <td>Medl.</td>
                      <td><%= event.price_member %>,-</td>
                    </tr>
                    <tr>
                      <td>Ikke medl.</td>
                      <td><%= event.price_other %>,-</td>
                    </tr>
                  </table>
              </div>
            </article>
          </a>

        <% end %>
      </div>
    <% end %>


  </div>
</div>