<div class="span12">
  <div class="row" id="eventwell">

    <% @events.each do |dates| %>

    <!-- Hasty hack -->
    <% if dates.length > 0 %>
      <div class="datewrapper row" id="<%= dates.first.datetime.strftime('%d') %>feb">
    <% else %>
      <div class="datewrapper row empty">
    <% end %>

          <% if dates.length > 0 %>
        <article class="dateblock span2 offset1">
          <span class="date"><%= dates.first.datetime.strftime('%d') %></span><span class="month">feb</span>
        </article>
          <% end %>
        <% dates.each do |date| %>
          <% event = date.event %>
          <a href="/2013/<%= date.id %>">
            <article class="span8 event offset3" style="background:url(<%= event.image_front(:cover) %>); background-size: cover;">
              <h1 class="name"><span><%= event.title %></span></h1>
              <div class="meta type<%= event.event_type.id %>">
                <div class="location">
                  <p><%= event.event_place.name %></p>
                  <!-- TODO! -->
                  <p><%= date.datetime.strftime('%H:%M') %></p>
                </div>
                <table class="price">
                    <tr>
                      <td>Member</td>
                      <td><%= event.price_member %>,-</td>
                    </tr>
                    <tr>
                      <td>Non-member</td>
                      <td><%= event.price_other %>,-</td>
                    </tr>
                  </table>
              </div>
            </article>
          </a>
        <% end %>
      </div>
    <% end %>


  </div>
</div>
