<div class="row">
  <div class="span12">
    
  <header id="event-header">
    <figure id="header-image">
      <%= image_tag @event.image(:cover) %>
    </figure>
    <div class="header-text">
      <h1><%=@event.title%></h1>
      <p><%= @event.event_place.name %></p>
      <p><%= @datetime.datetime.strftime('%d feb. %H:%M') %></p>
    <div>

      </div>



      <div class="tickets">
        <table>
          <tr>
            <td>Medlemmer</td>
            <td><%=@event.price_member%>,-</td>
          </tr>
          <tr>
            <td>Ikke-medlemmer</td>
            <td><%=@event.price_other%>,-</td>
          </tr>
        </table>
        <a href="<%= @datetime.url %>">
          <div class="event-button round">Kjøp billett</div>
        </a>
      </div>

    </div>
  </header>
  </div>
</div>



<div class="row">
  <div class="span8">
    <div class="well">
      <article>

        <section class="body"><%=@event.body%></section>

      </article>
    </div>

  </div>

  <div class="span4">
    <%= @event.sidebar.html_safe %>
  </div>
</div>



