<div class="row">
  <div class="span12">
    
  <header id="event-header">
    <figure id="header-image">
      <%= image_tag @event.image(:cover) %>
    </figure>
    <div class="header-text">
      <h1><%=@event.title%></h1>
      <p><%= @event.event_type.name %></p>
      
      <div class="event-details">
        <p><i class="icon-map-marker"></i> <%= @event.event_place.name %></p>
        <p><i class="icon-calendar"></i> <%= @datetime.datetime.strftime('%d feb') %></p>
        <p><i class="icon-time"></i> <%= @datetime.datetime.strftime('%H:%M') %></p>
      </div>
    <div>

      </div>



      <div class="tickets">
        <table>
          <tr>
            <td>Member</td>
            <td><%=@event.price_member%>,-</td>
          </tr>
          <tr>
            <td>Non-member</td>
            <td><%=@event.price_other%>,-</td>
          </tr>
        </table>
        <% if Time.now >= Time.parse("2013-01-14 18:00") %>
        <a href="<%= @datetime.url %>">
          <div class="event-button round">Buy ticket</div>
        </a>
        <% else %>
        <p>Ticket sale will be opened at 19.00</p>
        <% end %>
      </div>

    </div>
  </header>
  </div>
</div>



<div class="row">
  <div class="span8">
    <div class="well">
      <article>

        <section class="body"><%=@event.body%></section>

      </article>
    </div>

  </div>

  <div class="span4">
    <%= @event.sidebar.html_safe %>
  </div>
</div>



