<div class="span12">
  
  
  <%= simple_form_for(@event, url: @event.new_record? ? admin_event_event_dates_path : admin_event_event_date_path(@event.id)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :start_at, :input_html => {class: "span2"} %>
      <%= f.input :end_at, :input_html => {class: "span2"} %>
      <%= f.input :all_festival, :input_html => {class: "span2"} %>
      <%= f.input :event_id, collection: @events, as: :select, :input_html => { class: "span6" } %>
      <%= f.input :url, :input_html => { class: "span6" } %>
      <%= f.input :sold_out, as: :boolean, :input_html => { class: "span6" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>

  <% end %>
</div>
